/* styles about font size */
.labelPrice {
  font-size: 1em;
}

.labelPrice-income {
  font-size: 1.3em;
}

.price {
  font-size: 1em;
  font-style: arial;
}

.price-income {
  font-size: 1.3em;
  font-style: arial;
}
