html {
  font-family: "Helvetia", "Arial", sans-serif;
  background-color:#E5E5E1;
}

body {
  /* Show it is fixed to the top */
  min-height: 75rem;
  padding-top: 4.5rem;
}

.header {
  font-size: 2em;
  margin-top: 1%;
  margin-bottom: 1%;
  position: fixed;
}

.footer {
  clear: both;
  padding: 0 15px;
}

/* to verify - orphan class*/
.priceRef {
  display: block;
}

.exchanges{
  width: 40%;
}
