html {
  font-family: "Helvetia", "Arial", sans-serif;
  background-color:#E5E5E1;
}

body {
  padding-top: 70px;
}

.header {
  font-size: 2em;
  margin-top: 1%;
  margin-bottom: 1%;
  position: fixed;
}

.title-logo{
  margin: 0;
  padding: 0;
}

.card-index {
  display: block-inline;
  float: left;
  margin-bottom: 1%;
  margin-left: 1%;
}

.card-index-right {
  display: block-inline;
  float: right;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 22.5%;
}

.footer {
  clear: both;
  padding: 0 15px;
}


/* to verify - orphan class*/
.priceRef {
  display: block;
}

.exchanges{
  width: 40%;
}
