<div class="results">
  <span class="labelPrice">BRL : </span>
  <span class="price"> {{ brlref * bitcoin | number : 2}} </span>
</div>

<div class="results">
  <span class="labelPrice">Bitcoin :</span>
  <span class="price"> {{ brl / brlref | number : 8 }} </span>
</div>



<div class="input-group">
  <span class="form-control" id="lbl-btc-calc-base">BTCBRL</span>
  <input class="form-control"
         type="number"
         name="brlrefname"
         aria-label="lbl-btc-calc-base"
         ng-model="brlref"
         ng-change="btcReference()"
         step="0.01"
         placeholder="Bitcoin Mercado"
         required />
</div>

<div class="input-group">
  <span class=" form-control" id="lbl-btc-calc-input">BTC</span>
  <input class="form-control"
         type="number"
         name="btcname"
         aria-label="lbl-btc-calc-input"
         ng-change="btcQtd()"
         ng-model="bitcoin"
         required="number"
         placeholder="BTC"
         value="{{ brl / brlref | number : 8 }}"
         step="0.00000001"
         required />
</div>

<div class="input-group">
  <span class="form-control input-group-addon" id="lbl-btc-calc-input">BRL</span>
  <input class="form-control"
        type="number"
        name="brlname"
        ng-model="brl"
        ng-change="fiatCurrency()"
        ng-required="number"
        placeholder="BRL"

        value="{{ brlref * bitcoin | number : 2}}"
        step="0.00000001"
        required />
</div>
