<div class="panel panel-info">
  <div class="panel-heading">
    <ng-include src="'tpl/calc/nav-calculator.html'"></ng-include>
  </div>
  <div class="container-fluid">
    <div class="col-md-9">
      <div class="">
        <span class=""> BRL : </span>
        <span class=""> {{ brlref * bitcoin | number : 2}} </span>
      </div>
      <div class="">
        <span class="">Bitcoin :</span>
        <span class=""> {{ brl / brlref | number : 8 }} </span>
      </div>

      <div class="">
        <input class="" type="text" name="brlrefname" value="" ng-model="brlref" ng-required="number" placeholder="Bitcoin Mercado">
        <input class="" type="text" name="btcname" value="" ng-model="bitcoin" required="number" placeholder="BTC">
        <input class="" type="text" name="brlname" value="" ng-model="brl" ng-required="number" placeholder="BRL">
      </div>

    </div>
    <div class="col-md-2">
      <ng-include src="'tpl/calc/btc-calc-income-buttons.html'"></ng-include>
    </div>
  </div>
</div>
