<div class="panel panel-info">
  <div class="panel-heading">
    <ng-include src="'tpl/calc/nav-calculator.html'"></ng-include>
  </div>



  <div class="container-fluid">
    <div class="col-md-4">
      <span class="labelPrice">BRL : </span>
      <span class="price"> {{ brlref * bitcoin / 1000000 | number : 5}} </span>

      <span class="labelPrice">Bit :</span>
      <span class="price"> {{ brl / brlref * 100 | number : 8 }} </span>
    </div>


    <div class="col-md-6">


      <div class="input-group">
        <span class="input-group-addon" id="lbl-btc-calc-input">BTC</span>
        <input class="form-control" type="text" name="brlrefname" value="" ng-model="brlref" ng-required="number" placeholder="Digite o preço do Bitcoin">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="lbl-btc-calc-input">BRL</span>
        <input class="form-control" type="text" name="brlname" value="" ng-model="brl" ng-required="number" placeholder="Valor em Reais">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="lbl-btc-calc-input">BITS</span>
        <input class="form-control" type="text" name="btcname" value="" ng-model="bitcoin" required="number" placeholder="Valor em Bits" maxlength="8">
      </div>

    </div>

    <div class="col-md-2">
      <ng-include src="'tpl/calc/btc-calc-income-buttons.html'"></ng-include>
    </div>



  </div>



</div>
