<div class="panel panel-info">
  <div class="panel-heading">
    <ng-include src="'tpl/calc/nav-calculator.html'"></ng-include>
  </div>
  <div class="container-fluid">


    <div class="col-md-4">
      <div class="results">
        <span class="labelPrice">BRL : </span>
        <span class="price"> {{ brlref * bitcoin | number : 2}} </span>
      </div>

      <div class="results">
        <span class="labelPrice">Bitcoin :</span>
        <span class="price"> {{ brl / brlref | number : 8 }} </span>
      </div>
    </div>

    <div class="col-md-6">

      <div class="input-group">
        <span class="input-group-addon" id="lbl-btc-calc-base">BTC</span>
        <input class="form-control" type="number" name="brlrefname" aria-label="lbl-btc-calc-base" ng-model="brlref" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  placeholder="Bitcoin Mercado" required />
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="lbl-btc-calc-input">BTC</span>
        <input class="form-control" type="number" name="btcname" aria-label="lbl-btc-calc-input" ng-model="bitcoin" required="number" placeholder="BTC" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="lbl-btc-calc-input">BRL</span>
        <input class="form-control" type="number" name="brlname" value="" ng-model="brl" ng-required="number" placeholder="BRL" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />
      </div>

    </div>

    <div class="col-md-2 btn-cal-func">
      <ng-include src="'tpl/calc/btc-calc-income-buttons.html'"></ng-include>
    </div>


  </div>
</div>
