<div class="panel panel-info">
  <div class="panel-heading">
    <ng-include src="'tpl/nav-calculator.html'"></ng-include>
  </div>
  <div class="mainresults">
    <div class="results">
      <span class="labelPrice"> BRL : </span>
      <span class="price"> {{ brlref * bitcoin | number : 2}} </span>
    </div>
    <div class="results">
      <span class="labelPrice">Bitcoin :</span>
      <span class="price"> {{ brl / brlref | number : 8 }} </span>
    </div>
    <ng-include src="'tpl/btc-calc-income-buttons.html'"></ng-include>
  </div>
  <div class="inputCalculator">
    <input class="inputcalc" type="text" name="brlrefname" value="" ng-model="brlref" ng-required="number" placeholder="Digite o preço do Bitcoin">
    <input class="inputcalc" type="text" name="brlname" value="" ng-model="brl" ng-required="number" placeholder="Valor em Reais">
    <input class="inputcalc" type="text" name="btcname" value="" ng-model="bitcoin" required="number" placeholder="Valor em Bitcoins">
  </div>
  <button ng-Click="averageBTC()" class="input calc btn btn-primary">BTC</a>
</div>
