<div class="panel panel-primary">
  <div class="panel-heading">  
      <a href="#/">Calculadora Bitcoin</a>
      <a href="#satoshi">Calculadora Satoshi</a>
      <a href="#bit">Calculadora Bits</a>
      <a href="#income">Lucro Trade</a>
  </div>

  <div class="mainresults">

    <div class="left-results">
      <div class="results results-income">
        <span class="labelPrice labelPrice-income"> BRL : </span>
        <span class="price price-income"> {{ brlref * bitcoin | number : 2}} </span>
      </div>

      <div class="results results-income">
        <span class="labelPrice labelPrice-income">BTC :</span>
        <span class="price price-income"> {{ brl / brlref | number : 8 }} </span>
      </div>

      <div class="">
        <input class="inputcalc" type="text" name="brlrefname" value="" ng-model="brlref" ng-required="number" placeholder="BTC Preço">
        <input class="inputcalc" type="text" name="brlname" value="" ng-model="brl" ng-required="number" placeholder="Reais">
        <input class="inputcalc" type="text" name="btcname" value="" ng-model="bitcoin" required="number" placeholder="BTC">
      </div>

    </div>


    <div class="right-results">
      <div class="results results-income">
        <span class="labelPrice labelPrice-income"> BRL : </span>
        <span class="price price-income"> {{ brlrefincome * bitcoinincome | number : 2}} </span>
      </div>

      <div class="results results-income">
        <span class="labelPrice labelPrice-income ">BTC :</span>
        <span class="price price-income"> {{ brlincome / brlrefincome | number : 8 }} </span>
      </div>

      <div class="">
        <input class="inputcalc" type="text" name="brlrefname" value="" ng-model="brlrefincome" ng-required="number" placeholder="BTC Preço">
        <input class="inputcalc" type="text" name="brlname" value="" ng-model="brlincome" ng-required="number" placeholder="Reais">
        <input class="inputcalc" type="text" name="btcname" value="" ng-model="bitcoinincome" required="number" placeholder="BTC">
      </div>

    </div>







  </div>
</div>
