<div class="panel panel-info">
  <div class="panel-heading">
    <div class="title-card-calculator-text">
      <ng-include src="'tpl/nav-calculator.html'"></ng-include>
    </div>
  </div>
  <div class="mainresults">
    <div class="results">
      <span class="labelPrice">BRL : </span>
      <span class="price"> {{ brlref * bitcoin / 100000000 | number : 5}} </span>
    </div>

    <div class="results">
      <span class="labelPrice">Satoshi :</span>
      <span class="price"> {{ brl / brlref | number : 8 }} </span>
    </div>
  </div>

  <div class="inputCalculator">
    <input class="inputcalc" type="text" name="brlrefname" value="" ng-model="brlref" ng-required="number" placeholder="Digite o preço do Bitcoin">
    <input class="inputcalc" type="text" name="brlname" value="" ng-model="brl" ng-required="number" placeholder="Valor em Reais">
    <input class="inputcalc" type="text" name="btcname" value="" ng-model="bitcoin" required="number" placeholder="Valor em Satoshis" maxlength="8">
  </div>
</div>
